:root{

     --clr-white: #FFF;

     --clr-primary: #439746;
     --clr-primary-shade: #2c802f;


     --clr-secondary: #cfcfcf;
     --clr-secondary-shade-light: #f1f1f1;
     --clr-secondary-shade-dark: #8f8f8f;

     --accent-light: #fff;
     --accent-dark: #000 ;
}

.dark{

     transition-duration: 150ms;
     transition-timing-function: ease-out;
     --clr-primary: #2c802f;
     --clr-primary-shade: #429145;

     --clr-secondary: #1a1c20;
     --clr-secondary-shade-light: #292929;
     --clr-secondary-shade-dark: #494949;

     --accent-dark: #fff;
     --accent-light: #000 ;
}

*{
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     color: var(--accent-dark);
}

body{
     background-color: var(--accent-light);
}

body::-webkit-scrollbar{
     width: 10px;
     background-color: var(--clr-secondary);
}

body::-webkit-scrollbar-thumb{
     background-color: var(--clr-secondary-shade-dark);
     border-radius: 10px;
}

a{
     text-decoration: none;
}

a:focus,a:active{
     outline: none;
}

.hero{
     width: 97%;
     max-width: 1400px;
     margin: 0 auto;
}

.hero__title{
     font-size: 2rem;
}

.hero__nav{
     display: flex;
     justify-content: space-between;
}

.btn{
     display: inline-block;
     transition-duration: 350ms;
     transition-timing-function: ease-out;
     color: var(--clr-white);     
     font-size: large;
     font-weight: 900;
     background-color: var(--clr-primary);
     padding: 0.75em 1em;
}

.btn:hover{
     background-color:var(--clr-primary-shade);
}

i:hover,i:focus{
     transition-duration: 750ms;
     transform: rotate(360deg);
     transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
}

.hero__content{
     font-size: 1.25rem;
     font-weight: 500;
     margin: 2.5em 0;
     padding: 2em 7px;
     border-block: 1px solid var(--clr-secondary-shade-light);
}

.container{
     padding-right: 7px;
     padding-left: 7px;
}

.hero__block{
     background-color: var(--clr-secondary-shade-light);
     height: 100%;
     padding: 1.25em;
     padding-bottom: 2em;
}

.hero__footer{
     margin: 2em 0;
     display: flex;
     justify-content: space-around;
     border-top: 1px solid var(--clr-secondary-shade-light);
     border-bottom: 1px solid var(--clr-secondary-shade-light);
     padding: 1em 0;
     flex-wrap: wrap;
}

.btn-secondary{
     transition-duration: 350ms;
     transition-timing-function: ease-out;
     text-transform: uppercase;
     background-color: var(--clr-secondary);
     padding: 0.5em 2.5em;
     margin: 10px;
     border-radius: 0.15em;
     color: var(--accent-dark);
     flex: 1 0 250px;
     text-align: center;
}

.btn-secondary:hover{
     background-color: var(--clr-secondary-shade-dark);
}

.hero__policy{
     text-align: center;
     line-height: 1.75;
     font-weight: 600;
     color: var(--clr-secondary-shade-dark);
     border-top: 1px solid var(--clr-secondary-shade-light);
     margin-top: 2em;
     padding: 2em;
}

img{
     margin-top:2em;
     margin-bottom: 5em;
     color: var(--accent-dark);
}

.code-dp{
     transition-duration: 350ms;
     border: none;
     display: block;
     width: 100%;
     height: 30vh;
     margin-top: 2em;
     margin-bottom: 2em;
     padding: 0.75em;
     resize: none;
     border-left: 4px solid var(--clr-primary);
     outline: none;
     font-size: 1.25rem;
     background-color: var(--accent-light);
}

.code-dp:focus{
     outline: 1px solid var(--clr-secondary-shade-dark);
}

i{
     color: var(--clr-white);
}

.hero__details {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     font-weight: 600;
}

.sub-section {
     padding-right: 1.5em;
     line-height: 2em;
     text-align: center;
}

.sub-section a {
     display: block;
}

.opt-toggle{
     z-index: 1;
     visibility: hidden;
     position: fixed;
     bottom: 1em;
     right: 1em;
}

.go-up{
     z-index: 1;
     visibility: hidden;
     position: fixed;
     bottom: 1em;
     right: 5em;
}

.d-block{
     transform: translateY(-1rem);
     visibility: visible;
}

.sub-section > a:hover{
     color: var(--clr-primary);
     text-decoration: underline;
}

a:hover{
     cursor: pointer;
}

@media(max-width:400px){
     .hero__buttons{
          display: flex;
          flex-direction: column;
     }

     .btn{
          width: fit-content;
     }

     .btn-grp + .btn-grp{
          margin-top: 0.25em;
     }

     .hero__details{
          flex-direction: column;
     }
}